<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Btd_DemoCatalog::Custom_Catalog" sortOrder="10" title="Custom_Catalog">
					<resource id="Btd_DemoCatalog::Custom_Catalog_save" sortOrder="10" title="Save Custom_Catalog"/>
					<resource id="Btd_DemoCatalog::Custom_Catalog_delete" sortOrder="20" title="Delete Custom_Catalog"/>
					<resource id="Btd_DemoCatalog::Custom_Catalog_update" sortOrder="30" title="Update Custom_Catalog"/>
					<resource id="Btd_DemoCatalog::Custom_Catalog_view" sortOrder="40" title="View Custom_Catalog"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
